
body {
    background-image:url("images/background.jpg");
    background-size:100%;
}

#header {
    text-align: center;
    border: solid 5px lightslategray;
    margin-left:30%;
    margin-right:30%;
    background-color:lightslategray;
}
h1 {
    color:black;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 60px;
    margin-bottom:0px;
}

.head {
    font-family: 'Sedgwick Ave', cursive;
    color:black;
    font-size:40px;
    margin-top:0px;
}

.container {
    background-color: whitesmoke;
      margin-top: 5px;
        margin-left: 20%;
        margin-right:20%;
        text-align: center;
        
    }

    #wordPicked {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
    }


#scorekeeper {
    padding: 20px;
}

#directions-text{
    font-size:30px;
    padding-top:10px;
}


.holder {
    padding: 5px;
    position: relative;
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;
    margin-bottom: 5px;
    font-size: 20px;
}

span {
    border: solid gray 2px;
    padding-left: 3px;
    padding-right:3px;
    background-color:lightblue; 
    font-size: 15px;
}

#mainImg {
    height:50px;
    width: 100px;

}